/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');




/* Background and Top Formatting */
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: url('https://cdn.pixabay.com/photo/2021/02/01/06/48/geometric-5969508_1280.png');
    background-size: cover;
    color: #FFFFFF;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; 
    filter: blur(7px);
    z-index: -1; 
}




/* Introduction Words */
.bighead {
  font-family: "Playwrite AR", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
}

.smlhead {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

p {
  font-size: 1.5rem;
  text-align: left;
}





.profileimg {
  border-radius: 50%;
  border: 8px inset #FFFFFF;
  padding: 10px;
  width: 400px;
  height: 400px;
  margin-top: 30px;
  margin-inline-end: 2rem;
}

h1 {
  text-align: center;
  padding: 10px;
  font-size: 2rem;
}

.top {
  display: flex;
  padding: 3px 3px 3px 3px;
  text-align: center;
  justify-content: center;
  font-size: 30px;
}




/* Different Sections */
.sections {
  text-decoration: none;
  color: #FFFFFF;
  background: #4169E1;
  padding: .75rem 1.5rem .75rem 1.5rem;
  display: inline-flex;
  border-radius: 1.25rem;
  align-items: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  justify-content: space-between;
  margin: 3px;
  text-align: center;
}

.links {
  text-decoration: none;
  display: inline-flex;
  padding: .4rem .4rem .4rem .4rem;
  border-radius: 1.05rem;
  align-items: center;
  justify-content: center;
  margin: 3px;
  border: 2px solid #4169E1;
}




/* Top of Cover Page Links */
.topexp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
}

.topexptxt {
    color: #FFFFFF;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
}

.butcontainer {
    display: flex;
    justify-content: flex-end;
}

.butcontainer a {
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}



/* Updates Section */
.sectheader{
  font-size: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.updates{
  display: flex;
  padding: 7px 7px 7px 7px;
  justify-content: center;
}

.medimg{
  text-align: center;
  width: 300px;
  height: 300px;
  background: #FFFFFF;
  padding: .75rem 1.5rem .75rem 1.5rem;
  display: inline-flex;
  border-radius: 1.25rem;
  align-items: center;
  justify-content: center;
}

.caption{
  text-align: center;
  margin-top: 10px;
  color: #FFFFFF;
  background: #6CB4EE;
  padding: .75rem 1.5rem .75rem 1.5rem;
  display: inline-flex;
  border-radius: 1.25rem;
  align-items: center;
  justify-content: center;
}


.captioncontainer{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}





/* Explore Section */
.explore {
  display: flex;
  padding: 7px 7px 7px 7px;
  text-align: center;
  justify-content: center;
}

/* Icons */
.smallimg {
  width: 35px;
  height: 35px;
}


/* Horizontal Lines */
hr {
  background-color: #4169E1;
  height: 1px;
}


/* Resume Page */
.pdf{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}



/* Experiences */
.timeline{
  position: relative;
  padding: 20px 20px;
}

.timeline::after{
  content: '';
  position: absolute;
  width: 8px;
  background-color: #FFFFFF;
  top: 0;
  bottom: 0;
  left: 50%;
  border-radius: 10px;
  margin-left: -1px;
}

.timeline-item{
  position: relative;
  margin-bottom: 100px;
  font-size: 15px;
}

.timeline-item::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border-radius: 50%;
  top: 0;
  left: 50%;
  margin-left: -12px;
}

.timeline-item.left .timeline-event{
  left: 0%;
  text-align: left;
}

.timeline-item.right .timeline-event{
  right: 50%;
  text-align: right;
}


.time {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}



/* Skills Graphs */
#frontLang {
  width:70%;
  background: #4169E1;
  padding: .75rem 1.5rem .75rem 1.5rem;
  border-radius: 1.25rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 700px;
}

#backLang {
  width:70%;
  background: #00A6DC;
  padding: .75rem 1.5rem .75rem 1.5rem;
  border-radius: 1.25rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 700px;
}

#opSystems {
  width:70%;
  background: #4169E1;
  padding: .75rem 1.5rem .75rem 1.5rem;
  border-radius: 1.25rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 700px;
}

#adSkills {
  width:70%;
  background: #00A6DC;
  padding: .75rem 1.5rem .75rem 1.5rem;
  border-radius: 1.25rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 700px;
}

.techbox{
  width:70%;
  background: #4169E1;
  padding: .75rem 1.5rem .75rem 1.5rem;
  border-radius: 1.25rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 700px;
}

.otherbox{
  width:70%;
  background: #00A6DC;
  padding: .75rem 1.5rem .75rem 1.5rem;
  border-radius: 1.25rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 700px;
}

.front{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.back{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.op{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.ad{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.techInt{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.interests{
  background: #00A6DC;
  display: flex;
  padding: .75rem 1.5rem .75rem 1.5rem;
  border-radius: 1.25rem;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ointerests{
  background: #4169E1;
  display: flex;
  padding: .75rem 1.5rem .75rem 1.5rem;
  border-radius: 1.25rem;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.otherInt{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.return{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}


/* Interest Editing */
.intimg {
  width: 165px;
  height: 115px;
  border-radius: 1.5rem;
}

.inttitle{
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 0px;
  color: #00A6DC;
  font-size:17px;
  text-align: center;
}

.ointtitle{
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 0px;
  color: #4169E1;
  font-size:17px;
  text-align: center;
}

.intp{
  color: #00A6DC;
  font-size: 13px;
  text-align:center;
  margin-left: 5px;
  margin-right: 5px;
}

.ointp{
  color: #4169E1;
  font-size: 13px;
  text-align:center;
  margin-left: 15px;
  margin-right: 15px;
}

.ointtext{
  margin-left: 15px;
  margin-right: 15px;
  background: #FFFFFF;
  border-radius: 1.25rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
}

.inttext{
  margin-left: 15px;
  margin-right: 15px;
  background: #FFFFFF;
  border-radius: 1.25rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
}

.intline{
  width: 90%;
  color: #00A6DC;
  margin-top: 2px;
  margin-bottom: 3px;
}



/* Size Adjustments */
@media (max-width:1150px){
  .top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bighead{
    font-size: 50px;
  }
  .smlhead{
    font-size: 45px;
  }
  p{
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 500px){
  .explore{
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .topexptxt{
    display: none;
  }
  p{
    font-size: 15px
    text-align: center;
    justify-content: center;
  }
  .profileimg{
    width:300px;
    height:300px;
    text-align: center;
    justify-content: center;
  }
  .bighead{
    font-size:40px;
    font-weight: 250;
    text-align: center;
    justify-content: center;
  }
  .smlhead{
    font-size:35px;
    font-weight: 250;
    text-align: center;
    justify-content: center;
  }
  .medimg{
    width: 100px;
    height: 100px;
  }
}

@media(max-width: 5000px){
  .pdf{
    justify-content:center;
    flex-direction: column;
    text-align:center;
  }
}

@media(max-width: 800px){
  .medimg{
    width: 150px;;
    height: 150px;
  }
}

