body {
  background: #C0C0C0;
  background-image: url("https://pixabay.com/illustrations/background-bits-bit-network-blue-213649/");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #4169E1;
  padding: 25px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p {
  font-size: 1rem;
  text-align: left;
}

.profileimg {
  border-radius: 50%;
  border: 8px inset #4169E1;
  padding: 10px;
  width: 300px;
  height: 300px;
  margin-inline-end: 2rem;
}

h1 {
  text-align: center;
  padding: 10px;
  font-size: 2rem;
}

.top {
  display: flex;
  padding: 3px 3px 3px 3px;
  text-align: center;
  justify-content: center;
}

@media (max-width:850px){
  .top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 400px){
  .explore{
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}

@media(max-width: 5000px){
  .pdf{
    justify-content:center;
    flex-direction: column;
    text-align:center;
  }
}

.sections {
  text-decoration: none;
  color: #C0C0C0;
  background: #4169E1;
  padding: .75rem 1.5rem .75rem 1.5rem;
  display: inline-flex;
  border-radius: 1.25rem;
  align-items: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  justify-content: space-between;
  margin: 3px;
  text-align: center;
}

.links {
  text-decoration: none;
  display: inline-flex;
  padding: .4rem .4rem .4rem .4rem;
  border-radius: 1.05rem;
  align-items: center;
  justify-content: space-between;
  margin: 3px;
  border: 2px solid #4169E1;
}

.explore {
  display: flex;
  padding: 7px 7px 7px 7px;
  text-align: center;
  justify-content: center;
}

.smallimg {
  width: 35px;
  height: 35px;
}

hr {
  background-color: #4169E1;
  height: 1px;
}

.pdf{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}


.timeline{
  position: relative;
  padding: 20px 20px;
}

.timeline::after{
  content: '';
  position: absolute;
  width: 8px;
  background-color: #4169E1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-radius: 10px;
  margin-left: -1px;
}

.timeline-item{
  position: relative;
  margin-bottom: 100px;
}

.timeline-item::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #4169E1;
  border-radius: 50%;
  top: 0;
  left: 50%;
  margin-left: -12px;
}

.timeline-item.left .timeline-event{
  left: 0%;
  text-align: left;
}

.timeline-item.right .timeline-event{
  right: 50%;
  text-align: right;
}


.time {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}


